.form {
  max-width: 300px;
}

.title {
  margin-bottom: 15px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.logInBtn {
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: rgb(53, 53, 53);
  background-color: rgb(47, 209, 82);
  border: 2px solid rgb(35, 172, 65);
  font-weight: 700;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.logInBtn:hover,
.logInBtn:focus {
  background-color: #fff;
  border: 2px solid rgb(182, 182, 182);
}
